<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gestión de Tareas</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.10.2/fullcalendar.min.css">
   
</head>
<body>
    <div class="container">
        <h1 class="text-center text-white my-4">Gestión de Tareas</h1>
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="task-container p-4 rounded shadow">
                    <div class="form-row mb-3">
                        <div class="col-md-4 mb-3">
                            <input id="taskInput" type="text" class="form-control" placeholder="Añadir nueva tarea">
                        </div>
                        <div class="col-md-2 mb-3">
                            <input id="taskDate" type="date" class="form-control">
                        </div>
                        <div class="col-md-2 mb-3">
                            <input id="taskStartTime" type="time" class="form-control">
                        </div>
                        <div class="col-md-2 mb-3">
                            <input id="taskEndTime" type="time" class="form-control">
                        </div>
                        <div class="col-md-2 mb-3">
                            <button class="btn btn-primary btn-block" type="button" onclick="addTask()">Añadir</button>
                        </div>
                    </div>
                    <ul id="taskList" class="list-group"></ul>
                </div>
            </div>
        </div>
        <div id="calendar" class="mt-5"></div>
    </div>

    <!-- Fantasma asistente -->
    <div class="assistant">
        <img src="https://img.icons8.com/ios/50/000000/ghost.png" alt="Fantasma">
        <p>Hola, Soy tu asistente de gestión de tareas</p>
    </div>

    <!-- Mensaje de crédito -->
    <div class="footer-message">
        Este trabajo ha sido realizado con Angular por Adrián Campayo.
        <img src="https://img.icons8.com/ios/50/000000/angularjs.png" alt="Angular">
    </div>

    <!-- Botón de Imprimir -->
    <div class="print-button" onclick="printTasks()">
        <img src="https://img.icons8.com/ios/50/000000/print.png" alt="Imprimir">
    </div>

    <!-- JavaScript y bibliotecas -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.10.2/fullcalendar.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <script src="js/scripts.js"></script> <!-- Tu archivo JavaScript -->
</body>
</html>
